@page
@model WebZooWeb.Pages.EventPages.EventOverviewModel
@{
    ViewData["Title"] = "Event Overview";
}
<a class="nav-link btn-light" asp-page="/EventPages/EventCalendar"><h4 class="card-title">Kalender-visning</h4></a>


<div class="row row-cols-md-2 row-cols-lg-4 g-3">
    @foreach (var e in Model.Events)
    {
            <div class="col mb-1">
            <div class="card-body border rounded border-dark shadow-1 mb-3 h-100" style="max-width: 18rem;">
                @if (e.ImgPath != "" && e.ImgPath != "jhufgreg")
                {
                    <img src="@e.ImgPath" class="img-fluid object-fit-contain border rounded"/>
                }
            <h4 class="card-title">@e.Name</h4>
                <p class="card-text">
                    <i>@e.Date kl: @e.StartHour - @e.EndHour</i><br />
                Pladsbegrænsing: @e.MaxAttendents<br />Tilmeldte: @e.CurrentAttendents<br />
                Beskrivelse: @e.Description
            </p>

            </div>
            </div>
    }
</div>


