@page 
@model WebZooWeb.Pages.EventPages.EventCalendarModel
@{
}
<body>
    <a class="nav-link btn-light" asp-page="/EventPages/EventOverview"><h4 class="card-title">Liste-visning</h4></a>
    <h2>@Model.Month/@Model.Year</h2>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            @{
                var daysInMonth = DateTime.DaysInMonth(Model.Year, Model.Month);
                var firstDayOfMonth = new DateTime(Model.Year, Model.Month, 1);
                var dayOfWeek = (int)firstDayOfMonth.DayOfWeek;
                int currentDay = 1;

                System.Diagnostics.Debug.WriteLine($"DaysInMonth: {daysInMonth} ");

                for (int week = 0; currentDay <= daysInMonth; week++)
                {
                    <tr>
                        @for (int day = 0; day < 7; day++)
                        {
                            if (week == 0 && day < dayOfWeek || currentDay > daysInMonth)
                            {
                                <td></td>
                            }
                            else
                            {
                                var e = Model.Events.FirstOrDefault(e => e.Date.Day == currentDay && e.Date.Month == Model.Month);
                                if (e != null)
                                {
                                    System.Diagnostics.Debug.WriteLine($"EventToday!!!");
                                    <td 
                                        class="bg-danger text-white fw-bold">@currentDay <br/>
                                        <button type="button" class="btn"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editModal"
                                                data-id="@e.Id"
                                                data-name="@e.Name"
                                                data-date="@e.Date.ToString("yyyy-MM-dd")"
                                                data-startHour="@e.StartHour"
                                                data-endHour="@e.EndHour"
                                                data-maxAtt="@e.MaxAttendents"
                                                data-description="@e.Description"
                                                data-imgPath="@e.ImgPath">
                                            @e.Name
                                        </button>
                                    </td>
                                    
                                }
                                else
                                {
                                    <td>@currentDay</td>
                                }
                                // var cssClass = eventToday != null ? "bg-danger text-white fw-bold" : "";
                                currentDay++;
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>


    <h2>@Model.NextMonth/@Model.NextYear</h2>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            @{
                var daysInNextMonth = DateTime.DaysInMonth(Model.NextYear, Model.NextMonth);
                var firstDayOfNextMonth = new DateTime(Model.NextYear, Model.NextMonth, 1);
                var dayOfWeek2 = (int)firstDayOfNextMonth.DayOfWeek;
                int currentDay2 = 1;

                System.Diagnostics.Debug.WriteLine($"DaysInNextMonth: {daysInNextMonth} ");

                for (int week = 0; currentDay2 <= daysInNextMonth; week++)
                {
                    <tr>
                        @for (int day = 0; day < 7; day++)
                        {
                            System.Diagnostics.Debug.WriteLine($"Week: {week} Day in loop2: {day} ");

                            if (week == 0 && day < dayOfWeek2 || currentDay2 > daysInNextMonth)
                            {
                                <td></td>
                            }
                            else
                            {
                                var eventToday = Model.Events.FirstOrDefault(e => e.Date.Day == currentDay2 && e.Date.Month == Model.NextMonth);
                                var cssClass = eventToday != null ? "bg-danger text-white fw-bold" : "";
                                <td>@currentDay2</td>
                                currentDay2++;
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</body>

<div class="modal fade" id="editModal" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="SignUp">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Event Info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="card-body text-center">
                    <div class="form-group container-fluid">
                  @*       <input type="hidden" asp-for="EventID" id="eventId" />
                        <input type="hidden" asp-for="Name" id="eventName" /> *@


                            <h4>@Model.Name</h4>
                             <p><strong>Date:</strong> @Model.Date</p>
                              <p><strong>Description:</strong></p>
                               <p>@Model.Description</p>

                        @* <h4>@Model.Name</h4>
                        <div>@eventDate</div>
                        <input type="date" asp-for="Date" id="eventDate" aria-describedby="dateTimeHelp">
                        <label for="eventStartHour">Starttid: </label>
                        <input type="time" asp-for="StartHour" id="eventStartHour" aria-describedby="dateTimeHelp" step="" />
                        <input type="time" asp-for="EndHour" id="eventEndHour" aria-describedby="dateTimeHelp" step="" />
                        <label for="eventMaxAtt">Max Tilmeldinger </label>
                        <input asp-for="MaxAttendents" id="eventMaxAtt" />
                        <input asp-for="Description" id="eventDescription" /> *@
                    </div>
                    <button type="submit" asp-page-handler="Remove" class="btn btn-danger mt-5">Remove</button>
                    <button type="submit" class="btn btn-primary mt-5">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--JavaScript..-->
@section Scripts {
    <script>
        var editModal = document.getElementById('editModal');
        editModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            document.getElementById('eventId').value = button.getAttribute('data-id');
            document.getElementById('eventName').value = button.getAttribute('data-name');
            document.getElementById('eventDate').value = button.getAttribute('data-date');
            document.getElementById('eventStartHour').value = button.getAttribute('data-startHour');
            document.getElementById('eventEndHour').value = button.getAttribute('data-endHour');
            document.getElementById('eventMaxAtt').value = button.getAttribute('data-maxAtt');
            document.getElementById('eventDescription').value = button.getAttribute('data-description');
            document.getElementById('eventImgPath').value = button.getAttribute('data-imgPath');
        });
    </script>
}