@page
@model WebZooWeb.Pages.EventPages.EventOverviewModel
@{
    ViewData["Title"] = "Event Overview";
}
<a class="nav-link btn-light" asp-page="/EventPages/EventCalendar"><h4 class="card-title">Kalender-visning</h4></a>


<div class="row row-cols-3">
    @foreach (var e in Model.Events)
    {
        <div class="card-body">
            <h4 class="card-title">@e.Name</h4>
            <p class="card-text">Dato: @e.Date<br />Starttidspunkt: @e.StartHour<br />Sluttidspunkt: @e.EndHour<br />
                Pladsbegrænsing: @e.MaxAttendents<br />Tilmeldte: @e.CurrentAttendents<br />
                Beskrivelse: @e.Description
            </p>
        </div>
    }
</div>


